.portfolio-manager-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    .add-portfolio {
        background-color: $offwhite;
    }
    .portfolio-wrapper{
        background-color: $charcoal;
    }
}
